<p id="notice"><%= notice %></p>

<h1>Urls</h1>
<h4>Visit http://ants-shortener.herokuapp.com/(the shortened version of any URL) in order to visit that page! You can also use the URL's corresponding ID.</h4>

<table>
  <thead>
    <tr>
      <th>Full URL</th>
      <th>Shortened Version</th>
      <th>ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.long %></td>
        <td><%= url.short %></td>
        <td><%= url.id %></td>
        <td><%= link_to 'Show', url %></td>
        <!-- <td><%= link_to 'Edit', edit_url_path(url) %></td> -->
        <!-- <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Click HERE to get a URL shortened!', new_url_path %>
